<!-- <ion-header>
 <ion-toolbar color="medium">
   <ion-title align=center>Recover</ion-title>
 </ion-toolbar>
</ion-header> -->
<ion-content padding class="background-image">
    <div class="form-group text-center">
    <img src="../../../assets/Capture.JPG" alt="Capture" class="Capture" style="cursor: pointer;">
    </div>
    <br>
    <ion-card>
    <div class="form-group">
       <!-- <ion-item>
           <ion-label  position="floating" color="dark">Name:</ion-label>
           <ion-input type="text" formControlName="email"></ion-input>
           </ion-item> -->
           <ion-item>
           <ion-label  position="floating" color="dark" align="center"> Email</ion-label>
    <br>
         </ion-item>
           <ion-item>
               <ion-input type="text" formControlName="email"></ion-input>
               </ion-item>
    </div>
    </ion-card>
    <div class="form-group" *ngIf="!isForgotPassword">
    </div>
    <br>
    <div class="form-group" *ngIf="!isForgotPassword">
    <span *ngIf="selectedVal == 'login'; else elseBlock">
    <ion-button type="button" button="medium" class="btn btn-primary" (click)="loginUser()">Log
    In</ion-button>
    </span>
    <ng-template #elseBlock>
    <ion-button type="button" class="btn btn-primary"
    (click)="registerUser()">Register</ion-button>
    </ng-template>
    <ion-button expand="block" color="medium" (click)="this.isForgotPassword= true;">Forgot
    Password?</ion-button>
    </div>
    <div class="form-group" *ngIf="isForgotPassword">
    <ion-button type="button" expand="block" class="btn" (click)="this.isForgotPassword=
    false;" color="medium" >Cancel</ion-button> <br>
    <a href="javascript:void(0)"
    (click)="forgotPassword()"color="medium">Get email to reset password</a>
    </div>
    <br>
    <div class="form-group text-center">
    <img src="../assets/images/googlebtn.png" alt="" srcset=""
    (click)="googleLogin()" style="cursor: pointer;">
    </div>
    <div class="card-body" *ngIf="userDetails">
    <div class="row">
    <div class="col-sm-12">
    <ul class="list-group">
    <li class="list-group-item">Display Name:
    {{userDetails['displayName']}}</li>
    <li class="list-group-item">Email: {{userDetails['email']}}</li>
    <li class="list-group-item">Is Email Varified:
    {{userDetails['emailVerified']}}</li>
    <li class="list-group-item">
    <ion-button type="button" class="btn btn-danger"
    (click)="logoutUser()">Logout</ion-button>
    </li>
    </ul>
    </div>
    </div>
    </div>
    <div class="alert alert-{{responseMessageType}}" role="alert"
    *ngIf="responseMessage.length">
    {{responseMessage}}
    </div>
    </ion-content>
    