ion-content {
    --ion-background-color: rgb(185, 228, 245);
   }
    a{
      color:#0000ff;
      // float: right;
    }
    .form-group{
   color: white;
    }
    .Capture {
      vertical-align: middle;
      border-radius: 50%;
    }
    ion-card{
      --ion-background-color:white;
    }
   