
<ion-content padding>
    
    <br>
        <div class="md-donation-cont">
          <div class="md-donation">
 
                <!-- <img src="../../../assets/share_the_dignity.jpg" class="md-heart" />            
                <img src="../../../assets/tampons.jpg" class="md-heart" /> 
                <img src="../../../assets/pad-gift.jpg" class="md-heart" />  -->
             
                   
              <div class="md-donate-padding">
                  <div class="md-btn-cont">
                        
                  
                      <ion-button color="medium">$500</ion-button> 
                      <ion-button color="medium">$250</ion-button>
                      <ion-button color="medium">$100</ion-button>
                  </div>
                  <br>
                  <label class="md-input-cont">
                      <input type="tel" class="md-donation-input" [(ngModel)]="numpad" placeholder="Other amount..." />
                  </label>
              </div>
        
              <ion-button class="md-donation-btn mbsc-btn" expand="block" color="medium" (click)="Donate()">Donate now</ion-button>
        
          </div>
        </div>
        
 <!-- <div class="md-donation-cont">
  <div class="md-donation">
      <div class="md-header">Well done!</div>

      <img src="" class="md-heart" />
     
           <h1>you have just donated $500</h1>

           <br>
           <br>
            <h2>"Thanks to your payment, if you can feed hundred people, then just feed one"  </h2> 

     
          <br>
          <label class="md-input-cont">
              <input type="tel" class="md-donation-input" [(ngModel)]="numpad" placeholder="Other amount..." />
          </label>
      </div> 

      <ion-button class="md-donation-btn mbsc-btn" expand="block" color="medium">Save a life!</ion-button>

  </div> -->
 
        </ion-content>