.welcome-card ion-img {
    max-height: 32vh;
    overflow: hidden;
  }
  ion-content {
    --ion-background-color:#db6fa5 ;
  }
  ion-col{
  color:black;
  font-family:  'Muli' !important;
  font-size: 1.3rem;
  }
  .background-image {
    --background: url('../../../assets/Background2.jpg')0 0/100% 100%  no-repeat;
   }