h1{
  text-align: left;
  font-size: medium;
  color: black;
}


ion-content {
--ion-background-color:#db6fa5 ;
}

// ion-content {
//   --ion-background-color:#353985;
// }
//   .background-image {
//     --background: url('../../../assets/giphy.gif')0 0/100% 100%  no-repeat;
//   }