

.md-donation-cont {
  height: 100%;
}

.md-donation {
  background: #fff;
  min-height: 100%;
  position: relative;
}

.md-donation .md-header {
  color: #fb354c;
  font-size: 35px;
  text-align: center;
  padding: 60px 0 20px 0;
}

.md-donation .md-heart {
  width: 100%;
  padding-bottom: 50px;
}

.md-donation .md-donate-padding {
  padding: 2em 2em 6.5em 2em;
}

/* button */

.md-donation .md-btn-cont {
  overflow: hidden;
}