
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Donating items
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding class="background-image">
<div class="Don">
<img src="../../../assets/Capture1.JPG" alt="Don" class="Don" style="cursor: pointer;">
</div>
<br>
<br>
<ion-list lines="full">
<ion-item>
      <ion-label position="stacked">Name<ion-text color="danger">*</ion-text></ion-label>
      <ion-input required type="text" [(ngModel)]="donation.name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Surname<ion-text color="danger">*</ion-text></ion-label>
      <ion-input required type="text" [(ngModel)]="donation.surname"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Location<ion-text color="danger">*</ion-text></ion-label>
      <ion-input required type="text" [(ngModel)]="donation.location"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Type<ion-text color="danger">*</ion-text></ion-label>
      <ion-input required type="text" [(ngModel)]="donation.type"></ion-input>
    </ion-item>
  </ion-list>

    <ion-button expand="block" color="primary" (click)="form(donation)"><b>Submit</b></ion-button>
</ion-content>
  