<!-- <ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Donate-items
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <label float-left (click)="back()" >
        <ion-icon name="arrow-back" ></ion-icon>
      </label>
      <br>
      <br>
    <table>
    <tr>
  
     <td>
          Name:
      </td>
   
      <td>
        <input type="text" [formControl]="name">
      
    </td>
  </tr>
  <br>
  <tr>
  
      <td>
          Surname:
       </td>
    
       <td>
         <input type="text" [formControl]="Surname">
       
     </td>
   </tr>
   <br>
   <tr>
  
      <td>
           Age:
       </td>
    
       <td>
         <input type="number" [formControl]="Age">
       
     </td>
   </tr>
   <br>
   <tr>
  
      <td>
          Contact Number:
       </td>
    
       <td>
         <input type="number" [formControl]=" ContactNumber">
       
     </td>
   </tr>
   <br>
   <tr>
  
      <td>
        Donate Type:
       </td>
    
       <td>
         <input type="text" [formControl]=" Donationtype">
       
     </td>
   </tr>
  
  
  
   <br>
   <br>
   <br>
  
      <!-- <label>
          
       
        </label>
        <br>
        <br>
        <label>
            Surname:
            <input type="text" [formControl]="Surname">
          </label>
          <br>
          <br>
          <label>
              Age:
              <input type="text" [formControl]="Age">
            </label>
            <br>
            <br>
            <label>
                Contact Number:
                <input type="text" [formControl]="ContactNumber">
              </label>
              <br>
              <br>
              <label>
                  Donation Type:
                  <input type="text" [formControl]=" Donationtype">
                </label> -->
              </table>
  
              <ion-button expand="block" color="secondary" (click)="onsubmit()" >Submit</ion-button>
  </ion-content>
  