<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
      Donation Form
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content padding class="background-image">
  <div class="Mon">
      <img src="../../../assets/Capture1.JPG" alt="Mon" class="Mon" style="cursor: pointer;">
      </div>
      <br>
      <ion-list class="M" lines="full">
      <ion-item>
      <ion-label position="stacked">Name<ion-text color="danger">*</ion-text></ion-label>
      <ion-input required type="text" [(ngModel)]="donation.name"></ion-input>
      </ion-item>
      <ion-item>
            <ion-label position="stacked">Surname<ion-text color="danger">*</ion-text></ion-label>
            <ion-input required type="text" [(ngModel)]="donation.surname"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label position="stacked">Contact Number<ion-text color="danger">*</ion-text></ion-label>
              <ion-input required type="text" [(ngModel)]="donation.phoneNumber"></ion-input>
            </ion-item>
          <!-- <ion-item>
            <ion-label position="stacked">Clinic Location<ion-text color="danger">*</ion-text></ion-label>
            <ion-input required type="text" [(ngModel)]="donation.location"></ion-input>
          </ion-item>
          <ion-item> -->
              <ion-item>
                  <ion-label>Clinic Location</ion-label>
                  <ion-select required type="text" [(ngModel)]="donation.location" >
                      <ion-select-option type="text" value="Bosmont Clinic">Bosmont Clinic</ion-select-option>
                      <ion-select-option type="text" value="Alberton Clinic">Ekurhuleni Alberton North Clinic</ion-select-option>
                      <ion-select-option type="text" value="Skinner Clinic">Skinner Street Clinic</ion-select-option>
                      <ion-select-option type="text" value="Randvaal Clinic">Randvaal Clinic</ion-select-option>
                      <ion-select-option type="text" value="Randvaal Clinic">Randvaal Clinic</ion-select-option>
                      <ion-select-option type="text" value="LuckyMkhwanazi Clinic">Lucky Mkhwanazi Clinic</ion-select-option>
                      <ion-select-option type="text" value="Welverdiend Clinic">Welverdiend Clinic</ion-select-option>
                      <ion-select-option type="text" value="Odirileng">Odirileng Maponya Clinic</ion-select-option>
                      <ion-select-option type="text" value="RandfonteinMunicipal Clinic">Randfontein Municipal Clinic</ion-select-option>
                      <ion-select-option type="text" value="WestonariaMunicipal Clinic">Westonaria Municipal Clinic</ion-select-option>
                  </ion-select>
              </ion-item>
              <ion-item>
            <ion-label position="stacked">Type<ion-text color="danger">*</ion-text></ion-label>
            <!-- <ion-input required type="text" [(ngModel)]="donation.type"></ion-input> -->
            <ion-select [(ngModel)]="donation.type" required>
                <ion-select-option type="text" value="Money">Money</ion-select-option>
                <ion-select-option type="text" value="Package">Package</ion-select-option>
              </ion-select>
          </ion-item>
          <ion-item>
              <ion-label position="stacked">Description<ion-text color="danger">*</ion-text></ion-label>
              <ion-input required type="text" [(ngModel)]="donation.description"></ion-input>
            </ion-item>
        </ion-list>
      <ion-button expand="block" color="primary" (click)="form(donation)"><b>Submit</b></ion-button> 
  </ion-content>


  