<ion-content padding class="background-image">

    <div class="form-group text-center">
        <img src="../../../assets/Capture.JPG" alt="Capture" class="Capture" style="cursor: pointer;">
        </div>
    
    <form class="form" [formGroup]="loginForm" *ngIf="isForgotPassword">
      <div class="forms">
        <div class="form">
  
          <br>
          <br>

          <ion-card color="none">
            <ion-item >
                <ion-label position="floating">Email</ion-label>
                <ion-input type="email" formControlName="email"></ion-input>
            </ion-item>
  
            <div class="error" *ngIf="loginForm.get('email').hasError('required') && loginForm.get('email').touched">
                Please input your email
            </div>
            <div class="error" *ngIf="loginForm.get('email').hasError('pattern') && loginForm.get('email').touched">
                Email address invalid
            </div>
  
            <ion-item >
                <ion-label position="floating">Password</ion-label>
                <ion-input type="password" formControlName="password"></ion-input>
            </ion-item>

            <br>
            <br>
  
            <div class="error" *ngIf="loginForm.get('password').hasError('required') && loginForm.get('password').touched">
                Please input your password
            </div>
  
            <div class="error" *ngIf="loginForm.get('password').hasError('minlength') && loginForm.get('password').touched">
                Minimum 6 characters
            </div>
  
            <div class="error" *ngIf="loginForm.get('password').hasError('maxlength') && loginForm.get('password').touched">
                Maximum 12 characters
            </div>
  
          </ion-card>
            <!-- <br>
  
            <ion-button expand="block" color="medium" [disabled]="!loginForm.valid" (click)="loginUser()">Log In</ion-button> -->
  
            <label class="error-message">{{errorMessage}}</label>
            <!-- <ion-button expand="block" color="medium" routerLink="/recover"> Recover password</ion-button> -->
  
            <ion-row align-items-center>
              <div text-center>
            <a routerLink='/register'>Don't have an account yet? Sign up.</a> 
              </div>
          </ion-row>
          <br>
        
          <ion-row  align-items-center>
        
            <a text-center (click)="forgotpassword()">Forgot password?</a>
        </ion-row>
        
        <br>
        
        <ion-button expand="block" color="secondary" [disabled]="!loginForm.valid" (click)="loginUser()">Sign In</ion-button>
        
        </div>
      </div>
    </form>
  
  <form [formGroup]="forgotpasswordForm" *ngIf="!isForgotPassword">
    <div class="forms">
  
        <div class="form">
          <br>
          <br>
            <ion-item class="group" color="none">
                <ion-label position="floating">Enter Email</ion-label>
                <ion-input type="email" formControlName="email"></ion-input>
            </ion-item>
  
            <div class="error" *ngIf="forgotpasswordForm.get('email').hasError('required') && forgotpasswordForm.get('email').touched">
                Please input your email
            </div>
            <div class="error" *ngIf="forgotpasswordForm.get('email').hasError('pattern') && forgotpasswordForm.get('email').touched">
                Email address invalid
            </div>
            <br>
  
  
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-button expand="block" color="secondary" (click)="Cancel()">Cancel</ion-button>
                    </ion-col>
                    <ion-col>
                        <ion-button expand="block" color="secondary" [disabled]="!forgotpasswordForm.valid" (click)="reset()">Reset</ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
  
  
  
        </div>
    </div>
  </form>
  </ion-content>
  