.background-image {
  --background: url('../../../assets/Background2.jpg')0 0/100% 100%  no-repeat;
}
.Capture {
text-align: center;
border-radius:48%;

}
a{
  color:black;
}
ion-card{
 --ion-background-color:none;
}
.text{
  margin-left: 30px;
  font-family:  'Muli' !important;
  font-size: 1.0rem;
}
.Do{
  margin-left: 30px;
  font-family:  'Muli' !important;
  font-size: 1.0rem; 
}