.background-image {
  --background: url('../../../assets/back.jpg')0 0/100% 100%  no-repeat;
}

.Capture {
vertical-align: middle;
border-radius: 50%;
}
a{
  color:blue;
}
ion-card{
 --ion-background-color:none;
}