<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
    
    </ion-title>
  </ion-toolbar>
</ion-header>   

<ion-content padding class="background-image" >
  <!-- <ion-button  (click)=" addVideo(vid)">Add Video</ion-button><br>

  <label for="file-input">
      <ion-icon class="input" name="attach"> </ion-icon>
  
  <input id="file-input" class="input" type="file" (change)="uploadVideo($event)" /> 
</label> -->

<ion-searchbar animated 
(ion-Change)="bucar(event)">
</ion-searchbar> 
<br>
<header>
<h2><b><i>#Women's health issues</i></b></h2>
</header>
<br>
<ion-card>
<br>
<img src="../../../assets/Breast.png" (click)="presentPrompt()" class="gift"/>
<br>
<div class="card-title">Breast Cancer</div>
<a>Click the picture for information</a>
</ion-card>

<ion-card>
<img src="../../../assets/Periods.jpg" (click)="presentPrompt2()" class="gift"/>
<div class="card-title" align=center>Mestrual Cycle</div>
<a>Click the picture for information</a>
</ion-card>

<ion-card>
<img src="../../../assets/martenal.jpg" (click)="presentPrompt3()" class="gift"/> 
<br>
<div class="card-title" align=center>Maternal Health</div>
<a>Click the picture for information</a>
</ion-card>

<!-- <p><b>Please click here for more!</b></p> -->
<ion-button expand="block" color="medium" (click)="clickhere()">click here!</ion-button>


</ion-content>
