.Drop {
    text-align: center;
    border-radius: 48%;
}

.background-image {
    --background: url('../../../assets/Background2.jpg')0 0/100% 100% no-repeat;
}

ion-content {
    --background: url('../../../assets/Background2.jpg')0 0/100% 100% no-repeat;
}

.Mon {
    text-align: center;
    border-radius: 50%;
}

.center{
    text-align: center;
}