<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Drop Off</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <div class="Mon">
        <img src="../../../assets/Capture1.JPG" alt="Mon" class="Mon" style="cursor: pointer;">
    </div>
    <br>
    <br>

    <ion-list lines="full" class="ion-no-margin ion-no-padding">
        <br>
        <div class="center">
            <ion-label><b>Confirm Donation </b></ion-label>
        </div>

        <ion-item>
            <ion-label position="stacked">Name: <ion-text>{{donation.name}}</ion-text>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-label position="stacked">Surname: <ion-text>{{donation.surname}}</ion-text>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-label position="stacked">Contact Number: <ion-text>{{donation.phoneNumber}}</ion-text>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-label position="stacked">Location: <ion-text>{{donation.location}}</ion-text>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-label position="stacked">Type: <ion-text>{{donation.type}}</ion-text>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-label position="stacked">Item Description: <ion-text>{{donation.description}}</ion-text>
            </ion-label>
        </ion-item>
    </ion-list>

    <ion-button expand="block" color="primary" (click)="done()"><b>Confirm</b></ion-button>
</ion-content>