<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Drop Off</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <div class="Mon">
        <img src="../../../assets/Capture1.JPG" alt="Mon" class="Mon" style="cursor: pointer;">
    </div>
    <ion-list>
        <ion-item>
            <ion-label>Gauteng</ion-label>
            <ion-select required type="text" [(ngModel)]="donation.location" cancelText="Cancel" okText="Ok">
                <ion-select-option type="text" value="Bosmont Clinic">Bosmont Clinic</ion-select-option>
                <ion-select-option type="text" value="Alberton Clinic">Ekurhuleni Alberton North Clinic</ion-select-option>
                <ion-select-option type="text" value="Skinner Clinic">Skinner Street Clinic</ion-select-option>
                <ion-select-option type="text" value="Randvaal Clinic">Randvaal Clinic</ion-select-option>
                <ion-select-option type="text" value="Randvaal Clinic">Randvaal Clinic</ion-select-option>
                <ion-select-option type="text" value="LuckyMkhwanazi Clinic">Lucky Mkhwanazi Clinic</ion-select-option>
                <ion-select-option type="text" value="Welverdiend Clinic">Welverdiend Clinic</ion-select-option>
                <ion-select-option type="text" value="Odirileng">Odirileng Maponya Clinic</ion-select-option>
                <ion-select-option type="text" value="RandfonteinMunicipal Clinic">Randfontein Municipal Clinic</ion-select-option>
                <ion-select-option type="text" value="WestonariaMunicipal Clinic">Westonaria Municipal Clinic</ion-select-option>
            </ion-select>
        </ion-item>

    </ion-list>
    <ion-button expand="block" color="primary" (click)="form(donation)"><b>Submit</b></ion-button> 
</ion-content>
