<ion-app >
  <ion-menu contentId="content" side="start">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Women's Health</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
        <div class="Reg">
            <img src="../../../assets/Capture.JPG" width="120" height="120" alt="Reg" class="Reg" style="cursor: pointer;">
            </div>
      <ion-list>
        <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
          <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
            <ion-icon slot="start" [name]="p.icon"></ion-icon>
            <ion-label>
              {{p.title}}
            </ion-label>
          </ion-item>
          <ion-list>
            <ion-menu-toggle auto-hide="false" *ngFor="let s of p.subPages">
              <ion-item [routerDirection]="'root'" [routerLink]="[s.url]">
                <ion-label>
                  {{s.title}}
                </ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-list>
        </ion-menu-toggle>

        <ion-item>
            <ion-icon  slot="start" name="log-out" (click)="log()"></ion-icon>
            <ion-label (click)="log()">
                Logout
            </ion-label>
        </ion-item>

      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="content" main></ion-router-outlet>
</ion-app>