<ion-header>
  <ion-toolbar text-align="center" color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
  Profile
    </ion-title>
  </ion-toolbar>
 </ion-header>

 <ion-content padding class="background-image">
   <br>
    <ion-label  class="User">User Information</ion-label>
   <br>
   <br> <br>
    <!-- <ion-item color="secondary"> -->
      <ion-label>Name:</ion-label>
     <div float-right> {{userList?.displayName}}</div>
  <!-- </ion-item> -->
    <br>
    <br>
    <!-- <ion-item color="secondary"> -->
      <ion-label>Age:</ion-label>
      <div float-right>{{userList?.age}}</div>
  <!-- </ion-item> -->
    <br>
    <br>
    <!-- <ion-item color="secondary"> -->
      <ion-label>Gender:</ion-label>
      <div float-right>{{userList?.gender}}</div>
  <!-- </ion-item> -->
    <br>
    <br>
    <!-- <ion-item color="secondary"> -->
      <ion-label>Email:</ion-label>
      <div float-right>{{userList?.email}}</div>
  <!-- </ion-item> -->
    <br><br>
    <br>
    <!-- <ion-item color="secondary"> -->
      <!-- <ion-label>User ID:</ion-label>
    {{userList?.userid}} -->
  <!-- </ion-item> -->

 <!-- <br> -->
 <br>
 <br>
 <ion-label align="center" class="User">Donation History</ion-label>
<br>
<br>
 

<div *ngFor="let item of donateList">

  <table>
    <tr>
      <th>
          <ion-label><b><i>Location </i></b></ion-label>
      </th>
          <th>
            <ion-label><b><i>Date </i></b></ion-label>
          </th>
          </tr>

          <tr>
            <td>
          {{item?.location}}
        </td>
        <td>
        {{item.date | date:'dd-MM-yyy'}}
     </td>
     </tr>
     
  </table>

</div>

 </ion-content>