<ion-header>
  <ion-toolbar text-align="center" color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
  Profile
    </ion-title>
  </ion-toolbar>
 </ion-header>

 <ion-content padding class="background-image">
   <br>
    <ion-label class="User">User Information</ion-label>
   <br>
   <br>
    <ion-item color="secondary">
      <ion-label>Name:</ion-label>
      {{userList?.displayName}}
  </ion-item>
    <br>
    <ion-item color="secondary">
      <ion-label>Age:</ion-label>
    {{userList?.age}}
  </ion-item>
    <br>
    <ion-item color="secondary">
      <ion-label>Gender:</ion-label>
    {{userList?.gender}}
  </ion-item>
    <br>
    <ion-item color="secondary">
      <ion-label>Email:</ion-label>
    {{userList?.email}}
  </ion-item>
    <br>
    <ion-item color="secondary">
      <ion-label>User ID:</ion-label>
    {{userList?.userid}}
  </ion-item>

 <br>
 <br>
 
<div *ngFor="let item of donateList">
<ion-grid>
    <ion-row>
      
      <ion-col>
          <ion-label><b><i>Location: </i></b></ion-label>
        <br>
        <br>
          {{item?.location}}
          &nbsp;
          &nbsp;

      </ion-col>
      <ion-col>
          <ion-label><b><i>Date: </i></b></ion-label>
          <br>
          <br>
        {{item.date | date:'dd-MM-yyy'}}
      </ion-col>
    </ion-row>
     
  </ion-grid>
</div>

 </ion-content>