<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
  Profile
    </ion-title>
  </ion-toolbar>
 </ion-header>
 <ion-content>
   <!-- <div *ngFor="let item of donateList">
    {{item?.location}}
    <br> -->
    {{userList?.displayName}}   
    <br>
    {{userList?.age}}
    <br>
    {{userList?.gender}}
    <br>
    {{userList?.email}}
    <br>
    {{userList?.userid}}
 <!-- </div> -->
 <br>
 <br>
 
<ion-label>Donation history</ion-label>
<br>
<br>

   <div *ngFor="let item of donateList">
    {{item?.name}}
    <br>
    {{item?.surname}}
    <br>
    {{item?.location}}
    <br>
    {{item?.type}}
    <br>
    {{item?.date}}
    
    
 </div>
 </ion-content>