// .background{
//     --ion-background-color:#d9eff5;
//  }
.Capture {
    vertical-align: middle;
    border-radius: 50%;
  }
  ion-content {
    --ion-background-color:#db6fa5 ;
  }
  h1{
      text-align: center;
  }
  h2{
    text-align: center;
    font-size: medium;
  }
